<html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    <meta name="MobileOptimized" content="240"/>
<title> ChinaEveryday</title>
<!-- Google Webfonts -->
<link href='http://fonts.useso.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
<!-- For all browsers -->
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>  
 <body>

<div id="container">
 
  <br class="clearfloat" />
  <div id="menu"><div class="nav">
<ul>
<li><a href="/">首页
<!--[if IE 7]><!--></a><!--<![endif]--><table cellpadding="0" cellspacing="0"><tr><td>
</td></tr></table><!--[if lte IE 6]></a><![endif]-->
</li>
<li><a href="/wallstreetcn">华尔街见闻
<!--[if IE 7]><!--></a><!--<![endif]--><table cellpadding="0" cellspacing="0"><tr><td>
<ul>
<li><a href="/wallstreetcn">今日</a></li>
<li><a href="/wallstreetcn/yesterday"> 昨日</a></li>
</ul>
</td></tr></table><!--[if lte IE 6]></a><![endif]-->
</li>
<li><a href="/cnwsj">华尔街日报
<!--[if IE 7]><!--></a><!--<![endif]--><table cellpadding="0" cellspacing="0"><tr><td>
</td></tr></table><!--[if lte IE 6]></a><![endif]-->
</li>
</div>


</div>
  <br class="clearfloat" />
  <div id="mainContent">
    <div id="sidebar"> <img src="/static/getqrcode.jpg" height="100px" width="100px"> 

    </div>
    <div id="content"> 
本项目旨在帮助经济学专业人士更加快速与便捷的获得每天关于中国的经济新闻。所有新闻都来源于各大网站，由网络爬虫自动抓取，本人不对任何内容负责。该项目目前处于测试期。联系邮箱：ryanlhxu@gmail.com   
 </div>
  </div>
  <br class="clearfloat" />
  <div id="footer">
<p align=center>&copy; 2014 ryanlhxu. Powered by Flask.</p>
  </div>
</div>










</body>

</html>
